@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");
html {
  font-size: min(0.625vw, 1.1111111111vh);
}

body {
  font-family: "PT Sans", "Noto Sans JP";
  font-size: 4rem;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  color: #333333;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 8rem 12rem;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-weight: 400;
  letter-spacing: 0.03em;
}
.alegreya .text {
  font-family: "Alegreya Sans";
  font-size: 105%;
  word-spacing: 0.1em;
}
.alegreya-italic .text {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-size: 105%;
  word-spacing: 0.1em;
}
.josefin .text {
  font-family: "Josefin Sans";
  margin-bottom: -0.1em;
}
.jost .text {
  font-family: "Jost";
}
.passero .text {
  font-family: "Passero One";
  font-size: 110%;
}
.fruktur .text {
  font-family: "Fruktur";
  letter-spacing: 0.05em;
}
.kite .text {
  font-family: "Kite One";
  font-size: 80%;
  margin-bottom: -0.1em;
}
.abril .text {
  font-family: "Abril Fatface";
}
.cinzel .text {
  font-family: "Cinzel";
  letter-spacing: -0.005em;
}
.almendra .text {
  font-family: "Almendra";
  word-spacing: 0.05em;
}
.almendra-italic .text {
  font-family: "Almendra";
  font-style: italic;
  word-spacing: 0.1em;
}

.header {
  height: 13rem;
  display: flex;
}

.header-number {
  width: 13rem;
  margin-right: 4rem;
  font-size: 250%;
  color: white;
  background-color: #00b3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-name-container {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header-name {
  font-size: 160%;
  flex: 16;
  display: flex;
  align-items: center;
}

.header-info {
  font-size: 90%;
  flex: 9;
  display: flex;
  align-items: center;
}

.header-info-heading {
  margin-right: 0.3em;
  color: #00b3ff;
}
.header-info-heading::after {
  content: ":";
}

.center {
  height: 40rem;
  position: relative;
}
.center > * {
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  position: absolute;
  box-sizing: border-box;
}

.specimen,
.sample {
  display: flex;
  flex-direction: column;
}

.sample {
  padding: 1.5rem 3rem;
  background-color: rgba(0, 179, 255, 0.1);
}

.specimen-line,
.sample-line {
  flex-basis: 0rem;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

.specimen-line {
  font-size: 200%;
}

.sample-line {
  font-size: 160%;
  align-items: center;
}

.specimen-char {
  flex-basis: 0rem;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
:nth-child(2n) > .specimen-char:nth-child(2n), :nth-child(2n-1) > .specimen-char:nth-child(2n-1) {
  background-color: rgba(0, 179, 255, 0.1);
}

.description {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-item::before {
  margin-right: 0.3em;
  color: #00b3ff;
  content: "⮞";
}

.title-content,
.final-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: flex;
}

.title-decoration {
  margin-right: 5rem;
  width: 18rem;
  height: 18rem;
  background-color: #00b3ff;
}

.title {
  font-size: 160%;
  line-height: 1.4;
}

.date {
  margin-top: 3rem;
  color: rgba(0, 179, 255, 0.5);
}

.font-list-container {
  display: flex;
}

.font-list {
  flex-basis: 0rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.font-item {
  display: flex;
  align-items: center;
}

.font-item-number {
  width: 7.8rem;
  height: 7.8rem;
  margin-right: 3rem;
  font-size: 150%;
  color: white;
  background-color: #00b3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-item-name {
  font-size: 150%;
}